.block-container {
  width: 620px;
  height: 190px;
  box-shadow: 0 1px 3px 0 #a8a8a8;
  border-radius: 10px;
  text-align: center;
  margin: 40px auto 90px auto;
  padding: 42px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  &:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .block-row {
    display: flex;
    flex-direction: row;

    .tag {
      margin-right: 10px;
      font-size: 14px;
    }
    
    .previous-hash {
      color: #B6E79C;
      font-size: 12px;
    }

    .invalid-previous-hash {
      color: #f5222d;
      font-size: 12px;
    }

    .valid-hash {
      color: #B6E79C;
      border: 1px solid #b7eb8f;
      padding: 1px 10px 2px 10px;
      background-color: #f6ffed;
      border-radius: 3px;
      font-size: 14px;
    }

    .invalid-hash {
      color: #f5222d;
      background: #fff1f0;
      border-color: #ffa39e;
      border: 1px solid #f5222d;
      padding: 1px 10px 2px 10px;
      border-radius: 3px;
      font-size: 14px;
    }
  }
}

.block-id {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .tag {
    margin-right: 10px;
  }

  .block-tag {
    margin-right: 10px;
    font-size: 24px;
  }

  .timestamp {
    font-size: 12px;
    word-spacing: 1px;
  }

  .nonce {
    display: inline-block;
    line-height: 20px;
    height: 22px;
    padding: 0 7px;
    border-radius: 4px;
    border: 1px solid #d9d9d9;
    background: #fafafa;
    margin-right: 12px 0 12px 12px;
    font-size: 14px;
    display: flex;
    align-items: center;
  }

  .fix-block_button {
    background: linear-gradient(45deg, rgb(0, 198, 255), rgb(0, 114, 255));
    box-shadow: 0 1px 3px 0 #a8a8a8;
    color: white;
    border: transparent;
    width: 40px;
    padding: 0;
    font-size: 16px;
    border-radius: 50%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}