.page-footer__container {
  margin: 140px auto 20px auto;

  .page-footer__credits {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #828282;

    .page-footer__user-name {
      font-weight: 900;
      color: #636363;
      text-decoration: none;
    }
  }
}